.btn {
    padding: 0;

    background-color: #066F14;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.6;
    transition: opacity 0.3s linear;

    cursor: pointer;
}