.subscribe__container {
    padding: 60px 380px 60px 56px;

    box-sizing: border-box;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: #DFFFE3;
}