.header__link {
    margin-right: 48px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #1A1A1A;

    text-decoration: none;
}

.header__link:last-of-type {
    margin-right: 0;
}

.header__link:hover {
    opacity: 0.6;
    transition: opacity 0.3s linear;

    cursor: pointer;
}