.collection-plants__block {
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collection-plants__block:last-of-type {
    height: 205px;

    margin-right: 0;

    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}